.animated {
  &-words {
    text-align: center;

    .text {
      font-size: 30px;
      line-height: 40px;
      color: $black;
      font-family: "poppinsregular", sans-serif;

      @media only screen and (min-width: 768px) {
        font-size: 100px;
        line-height: 100px;
      }
    }

    span {
      font-family: "poppinsbold", sans-serif;
      color: $pink;
    }
  }
}
