.animated {
  &-words {
    text-align: center;

    .text {
      font-size: 100px;
      color: $black;
      font-family: "poppinsregular", sans-serif;
    }

    span {
      font-family: "poppinsbold", sans-serif;
      color: $pink;
    }
  }
}
