.footer {
  background: $black;
  color: $white;
  padding: 60px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &__top,
  &__middle,
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    width: 100%;
  }

  &__middle {
    @media only screen and (max-width: 450px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__bottom {
    background: $pink;
    margin-bottom: 0;
    padding: 30px 0;
    color: $white;

    span {
      margin: 0 20px;
    }

    a {
      color: $white;
    }
  }

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__social-links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-flex;
      margin: 0 20px;
    }
  }

  .menu-footer-container {
    .nav-footer {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-flex;
        margin: 0 20px 0 0;

        @media only screen and (max-width: 450px) {
          margin: 10px 0;
        }
      }

      a {
        color: $white;
      }
    }
  }
}
