.header {
  position: fixed;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1000;
  background: rgba($pink, 0.9);

  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;

    .brand-mobile {
      width: 130px;
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 100;

      img {
        display: block;
        width: 130px;
      }
    }

    .nav-primary {
      .nav-mobile {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      li {
        padding: 20px 30px;

        a {
          color: $white;
          text-transform: uppercase;
          font-size: 16px;

          &:hover {
            text-decoration: none;
          }
        }

        &.current-menu-item {
          font-family: "poppinsbold", sans-serif;
          text-decoration: none;
          font-size: 16px;
          position: relative;
          padding-left: 30px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .desktop-menu {
    display: none;

    @media only screen and (min-width: 768px) {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;

      .nav-primary {
        width: 100%;
        background: rgba($pink, 0.9);
        padding: 20px 0;
      }

      li {
        a {
          color: $white;
          text-transform: uppercase;
          font-size: 16px;

          &:hover {
            text-decoration: none;
          }
        }

        &.current-menu-item {
          font-family: "poppinsbold", sans-serif;
          text-decoration: none;
          font-size: 16px;
        }
      }

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .menu-left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(50% - 65px);

        .nav-left {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }

      .menu-right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(50% - 65px);

        .nav-right {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }

      .brand-desktop {
        width: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
          display: block;
          width: 130px;
        }
      }
    }
  }
}
