.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  @media only screen and (min-width: 1080px) {
    padding: 7.5% 0;
  }

  .apply {
    border: 3px solid $white;
    background: #f06;
    color: $white;
    text-align: center;
    display: block;
    text-transform: uppercase;
    width: 150px;
    float: left;
    height: 32px;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .brand {
    img {
      display: block;
      margin: 0 auto;
    }

    @media only screen and (min-width: 768px) {
      float: right;
    }
  }

  @media only screen and (min-width: 768px) {
    &.scroll {
      padding: 20px 0;
      position: fixed;
      background: $black;
      z-index: 1;
    }
  }
}
