.header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;

  .nav-primary {
    background: rgba($pink, 0.5);
    height: 59px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        a {
          color: $white;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
          }
        }

        &.current-menu-item {
          font-family: "poppinsbold", sans-serif;
          text-decoration: none;
        }
      }
    }
  }

  &-bottom {
    margin-top: 100px;
    display: flex;
    width: 100vw;

    .brand {
      float: right;
    }
  }
}
