.pages {
  &__header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    color: $white;
  }

  &__homepage {
    &-buttons {
      min-height: 310px;
      height: 100%;
      width: 100vw;
      background-image: url(../images/homepage/white-section.jpg);
      background-size: cover;
      padding: 30px;
      box-sizing: border-box;
    }

    &-quotes {
      min-height: 800px;
      height: auto;
      width: 100vw;
      background-image: url(../images/homepage/homepage-slider.jpg);
      background-position: center center;
      background-size: cover;
    }

    &-video {
      min-height: 600px;
      height: auto;
      width: 100vw;
      background-image: url(../images/homepage/video-home.jpg);
      background-position: center center;
      background-size: cover;
    }

    &-wwww {
      min-height: 700px;
      height: 100%;
      width: 100vw;
      background-color: $white;
      padding: 60px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .what,
      .why,
      .where,
      .when {
        display: block;
        margin: 0 auto 30px;
        max-width: 600px;
        width: 100%;
        font-size: 24px;
        font-family: "poppinsregular", sans-serif;
      }
    }
  }

  &__brands {
    &-buttons {
      min-height: 247px;
      height: auto;
      width: 100vw;
      background-image: url(../images/brands/brands-background.jpg);
      background-position: center center;
      background-size: cover;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .text {
        font-size: 25px;
        line-height: 40px;
        font-family: "poppinsregular", sans-serif;
        color: $white;
        text-align: center;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
      }
    }

    &-wwww {
      min-height: 500px;
      height: 100%;
      width: 100vw;
      background-color: $white;
      padding: 60px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }

      .what,
      .why,
      .where,
      .when {
        display: block;
        padding: 30px;
        width: 50%;
        box-sizing: border-box;
        font-size: 24px;
        line-height: 40px;
        font-family: "poppinsregular", sans-serif;
      }
    }
  }

  &__contact {
    &-buttons {
      min-height: auto;
      width: 100vw;
      padding: 30px;
      box-sizing: border-box;
    }

    &-form {
      min-height: 100vh;
      width: 100vw;
      background-image: url(../images/contact/form.jpg);
      background-position: center center;
      background-size: cover;
      padding: 30px;
      box-sizing: border-box;
    }
  }
}
