.pages {
  &__header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
  }

  &__homepage {
    &-buttons {
      min-height: 310px;
      height: 100%;
      width: 100vw;
      background-image: url(../images/homepage/white-section.jpg);
      background-size: cover;
      padding: 30px;
      box-sizing: border-box;
    }

    &-quotes {
      min-height: 800px;
      height: auto;
      width: 100vw;
      background-image: url(../images/homepage/homepage-slider.jpg);
      background-position: center center;
      background-size: cover;
    }

    &-video {
      min-height: 600px;
      height: auto;
      width: 100vw;
      background-image: url(../images/homepage/video-home.jpg);
      background-position: center center;
      background-size: cover;
    }

    &-wwww {
      min-height: 700px;
      height: 100%;
      width: 100vw;
      background-color: $white;
      padding: 60px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .what,
      .why,
      .where,
      .when {
        display: block;
        margin: 0 auto 30px;
        max-width: 600px;
        width: 100%;
      }
    }
  }
}
