
@font-face {
  font-family: "poppins_blackregular";
  src:
    url("../fonts/poppins-black-webfont.woff2") format("woff2"),
    url("../fonts/poppins-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_blackitalic";
  src:
    url("../fonts/poppins-blackitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold";
  src:
    url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold_italic";
  src:
    url("../fonts/poppins-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_extraboldregular";
  src:
    url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_extrabolditalic";
  src:
    url("../fonts/poppins-extrabolditalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_extralightregular";
  src:
    url("../fonts/poppins-extralight-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_extralightitalic";
  src:
    url("../fonts/poppins-extralightitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsitalic";
  src:
    url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_lightregular";
  src:
    url("../fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_lightitalic";
  src:
    url("../fonts/poppins-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_mediumregular";
  src:
    url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src:
    url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_semiboldregular";
  src:
    url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_semibolditalic";
  src:
    url("../fonts/poppins-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_thinregular";
  src:
    url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("../fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_thinitalic";
  src:
    url("../fonts/poppins-thinitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: "poppinsregular", sans-serif;
  font-size: 25px;
}

.wrap.container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;

  .content {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.container {
  margin: 0 auto !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;

  &.reverse {
    flex-direction: column-reverse;
  }
}
