/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$black: #000;
$white: #fff;
$pink: #f06;
$light-grey: #4a4a4a;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
